@media only screen and (max-width: 991px) /*Mobile Ansicht*/ {
  .logo {
    display: none;
  }
}

@media only screen and (min-width: 992px) /*destop*/ {
  .logo {
    width: 400px;
    padding: 50px 0px 20px 0px;
    background-color: transparent;
    background-color: rgb(30, 30, 30);
    height: auto;
    transform: translateX(-20rem);
    animation: slideIn 0.7s forwards;
    position: relative;
  }
}

.nav {
  padding: 0% 20% 0% 20.2% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: white;
  box-shadow: 0 20px 20px -15px rgb(0, 0, 0);
  z-index: 100;
  background-color: rgb(30, 30, 30);
}

h1/*nav*/ {
  font-family: "Hwyl fawr Hello";
  font-size: 33px !important;
  font-weight: bold !important;
  padding: 3px 10px 3px 10px;
  background-color: rgb(30, 30, 30);
}

font {
  background-color: transparent;
}

.innerNav {
  display: flex;
  justify-content: flex-end;

  background-color: rgb(30, 30, 30);

  transform: translateY(-20rem);
  animation: slideIn 0.7s forwards;
  padding-top: 60px;
  margin-right: -8px;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgb(30, 30, 30);
  z-index: 1000;
}

.nav li {
  display: inline-block;
}

.nav ul li {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: rgb(30, 30, 30);
}

.nav ul li a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0);
  font-size: 25px;
  padding: 3px 10px 0px 10px;
  text-decoration: none;
  text-align: center;
}

.nav ul li ul {
  display: none;
  position: absolute;
  /*background-color:rgb(10,10,10);*/
  padding: 10px;
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}

.nav ul li:hover ul {
  display: block;
}

.nav ul li ul li {
  width: 140px;
  border-radius: 4px;
}

.nav ul li.o ul li {
  width: 240px;
  border-radius: 4px;
}

.nav ul li ul li a {
  padding: 3px 1px;
  font-size: 22px;
  transform: translateY(-1rem);
  animation: slideInDown 0.35s forwards;
  font-family: "Hwyl fawr Hello";
  border-radius: 16px;
}

.textCenter {
  text-align: center;
}

.nav ul li ul li a.r {
  color: #e85648;
}

.nav ul li ul li a.b {
  color: #52adbb;
}

.nav ul li ul li a.g {
  color: #52adbb;
}

.nav ul li ul li a.o {
  color: #e9b041;
}

.nav ul li ul li a.r:hover {
  background: #e85648;
  color: rgb(0, 0, 0);
}

.nav ul li ul li a.b:hover {
  background: #52adbb;
  color: rgb(0, 0, 0);
}

.nav ul li ul li a.g:hover {
  background: #3dc097;
  color: rgb(0, 0, 0);
}

.nav ul li ul li a.o:hover {
  background: #e9b041;
  color: rgb(0, 0, 0);
}

.nav ul li h1.g:hover {
  background-color: #3dc097;
  color: rgb(0, 0, 0);
  border-radius: 16px;
  width: 100%;
}

.nav ul li h1.g:hover font {
  color: rgb(0, 0, 0);
}

.nav ul li h1.b:hover {
  background-color: #52adbb;
  color: rgb(0, 0, 0);
  border-radius: 16px;
  width: 100%;
}

.nav ul li h1.b:hover font {
  color: rgb(0, 0, 0);
}

.nav ul li h1.r:hover {
  background-color: #e85648;
  color: rgb(0, 0, 0);
  border-radius: 16px;
  width: 100%;
}

.nav ul li h1.r:hover font {
  color: rgb(0, 0, 0);
}

.nav ul li h1.o:hover {
  background-color: #e9b041;
  color: rgb(0, 0, 0);
  border-radius: 16px;
  width: 100%;
}

.nav ul li h1.o:hover font {
  color: rgb(0, 0, 0);
}

.r {
  color: #e85648;
}

.b {
  color: #52adbb;
}

.g {
  color: rgb(61, 192, 151);
}

.o {
  color: #e9b041;
}

.textLeft {
  color: white;
}

.logoAnimation {
  background-color: transparent;
}

.noteAnimation {
  width: 20px;
  background-color: transparent;
  position: absolute;
  height: auto;
  transform: translate(-1500%, 120%);
  z-index: 1000;
  offset-path: path("M -10 -20 L 100 -35");
  animation: move 2s linear infinite;
}

@keyframes move {
  100% {
    motion-offset: 100%; /* Old */
    offset-distance: 100%; /* New */
    opacity: 0%;
  }
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInDown {
  from {
  }
  to {
    transform: translateY(0);
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 300px;
  top: 36px;
  background: transparent;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: white;
  border-radius: 10px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(30, 30, 30);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  background-color: rgb(30, 30, 30);
}

/* General sidebar styles */
.bm-menu {
  margin: 20px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: rgb(30, 30, 30);
}

/* Wrapper for item list */
.bm-item-list {
  background-color: rgb(30, 30, 30);
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
