
.Collapsible
{
margin: 10px 10px 10px 10px;
background-color:rgb(10, 10, 10);
border-radius: 20px 20px 20px 20px
}

.Collapsible__trigger
{
    font-size: 20px;
    color: white;
    background-color:rgb(10, 10, 10);
    cursor: pointer;
    border-radius: 0px 0px 20px 20px;
}

.Collapsible__contentOuter
{
    border-radius: 0px 0px 20px 20px;
    
}

.Collapsible__contentInner
{
    
    text-align: left;
    color: white;
    background-color:rgb(10, 10, 10);
    padding: 10px 50px 10px 50px;
    border-radius: 0px 0px 20px 20px
}