* {
    margin: 0;
    padding: 0;
    background-color:rgb(20, 20, 20);
}


.nav
{
    margin: auto;
   position: sticky;
  top: 0;
  z-index: 100;

}

hr
{
    border:none;
  height: 20px;
 	width: 100%;
	height: 50px;
	box-shadow: 0 20px 20px -20px rgb(0, 0, 0);
  margin: -50px auto 10px; 
}

h2/*ueberschrift*/
{
font-family: 'Chewy', cursive;    
font-size: 45px;
    text-align: center;
    padding: 20px 20px 40px 20px;
}

h3/*unterueberschrift*/
{
font-family: 'Chewy', cursive;    
font-size: 25px;
    color: #c0c0c0;
    text-align: center;
    padding: 40px 20px 10px 20px;
}

h4/*schrift*/
{
font-family: 'Chewy', cursive;    
font-size: 18px;
    color: #6e6e6e;

    padding: 20px 20px 20px 20px;
}

h5/*logo*/
{
font-family: 'Chewy', cursive;    
font-size: 55px;

    text-align: left;
    padding: 0px 0px 0px 40px;
    margin: 15px 0px -75px 0px;
    text-decoration:none;
}

h6/*logo*/
{
font-family: 'Chewy', cursive;    
font-size: 55px;

    text-align: left;
    padding: 0px 0px 0px 40px;
    margin: 15px 0px -75px 0px;
}

a
{
font-family: 'Chewy', cursive;    
font-size: 20px;
    color: #6e6e6e;
    
}

.FragenAntworten
{
font-family: 'Chewy', cursive;    
font-size: 25px;
    color: #cacaca;
    text-align: center;
}

.FragenAntworten ul li/*Fragen*/
{
    
}

.FragenAntworten ul li ul/*Antworten*/
{
    
}

.FragenAntworten ul li:active i
{
    transform: rotate(90deg)
}

.inner-width
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.gallery-section .gallery
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image
{
    flex: 33%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .image img
{
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.gallery-section .image:hover img
{
    transform: scale(1.4);
    opacity: 0.2;
}

.gallery-section .text
{
    position: absolute; 
    margin: -100px 0px 0px 150px;   
    background-color: transparent;
    color: #cacaca;
    display: none;
}

.gallery-section .image:hover .text
{
    transform: scale(1.4);
    display: block;
    font-size: 30px;
}

.content-table
{
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}

.content-table thead 
{
   text-align: left;
   background-color: #3dc097
}

.content-table h4 
{
   text-align: center;
}


.text a
{
    color: #aaaaaa;
    padding: 10px 10px 10px 10px;
    display:block;
    font-size: 20px;
}

@media only screen and (max-width: 991px)
{

    h1/*nav*/
{
    font-family: 'Hwyl fawr Hello';
    font-size: 22px;
    padding: 0%;
    margin: 0%;
}

body
{
    overflow-x: hidden;
}

.banner img
{
  display: none;
}

.nav
{
    transform: translateX(-100rem);
    animation: slideIn .7s forwards;
    
}

 .logo
 {
    display: none;
 }

 .contentframe 
 {
    text-align: center;
 }

 .contentframe iframe
 {
    text-align: center;
    height: 100%;
    width: 100%;
 }

.footframe 
 {
    text-align: center;
 }

 .footframe iframe
 {
    text-align: center;
    height: 10%;
    width: 100%;
 }


.nav ul
{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    /*background-color: rgb(0, 0, 0);nav Banner Farbe*/
}

.nav li
{
    display: inline-block;

}

.nav ul li
{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
}

.nav ul li a
{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0);
    font-size: 25px;
    padding: 20px 5px;
    text-decoration: none;
    text-align: center;
}

.nav ul li ul
{
    display: none;
    position: absolute;
    /*background-color:rgb(10,10,10);*/
    padding: 10px;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
}

.nav ul li:hover ul
{
    display: block;
}

.nav ul li ul li
{
    width: 70px;
    border-radius: 4px;
}

.nav ul li.o ul li
{
    display: none;
}

.nav ul li ul li a
{
    padding: 6px 4px;
    font-size: 14px;
    transform: translateY(-0.8rem);
    animation: slideInDown 0.7s forwards;
    font-family: 'Hwyl fawr Hello';
    border-radius: 16px;
}

.nav ul li ul li a.r
{
    color: #E85648;
}

.nav ul li ul li a.b
{
    color: #52adbb
}

.nav ul li ul li a.g
{
    color: #3dc097;
}

.nav ul li ul li a.o
{
    color: #EB7E35;
}


.nav ul li ul li a.r:hover
{
    background: #E85648;
    color: rgb(0, 0, 0);
}

.nav ul li ul li a.b:hover
{
    background: #52adbb;
    color: rgb(0, 0, 0);
}

.nav ul li ul li a.g:hover
{
    background: #3dc097;
    color: rgb(0, 0, 0);
}

.nav ul li ul li a.o:hover
{
    background: #EB7E35;
    color: rgb(0, 0, 0);
}

@keyframes slideIn
{
    from
    {

    }to
    {
        transform: translateX(0);
    }
}

@keyframes slideOut
{
    0% { transform: translateX(0%); }
    100% { transform: translateX(-20%); }
}

@keyframes slideInDown
{
    from
    {
    }
    to
    {
        transform: translateY(0);
    }
}

@keyframes bounce
{
    from
    {

    }
    to
    {
        transform: translateY(0);
    }
}
}


@media only screen and (min-width: 992px)/*destop*/
{

h1/*nav*/
{
    font-family: 'Hwyl fawr Hello';
    font-size: 35px;
}

body
{
    overflow-x: hidden;
}

.banner img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.nav
{
    transform: translateX(-100rem);
    animation: slideIn .7s forwards;
    
}

 .logo
 {
    display: none;
 }

 .contentframe 
 {
    text-align: center;
 }

 .contentframe iframe
 {
    text-align: center;
    height: 0%;
    width: 50%;
 }

.footframe 
 {
    text-align: center;
 }

 .footframe iframe
 {
    text-align: center;
    height: 100%;
    width: 100%;
 }

.nav ul
{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    /*background-color: rgb(0, 0, 0);nav Banner Farbe*/
}

.nav li
{
    display: inline-block;

}

.nav ul li
{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
}

.nav ul li a
{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0);
    font-size: 25px;
    padding: 22px 20px;
    text-decoration: none;
    text-align: center;
}

.nav ul li ul
{
    display: none;
    position: absolute;
    /*background-color:rgb(10,10,10);*/
    padding: 10px;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
}

.nav ul li:hover ul
{
    display: block;
}

.nav ul li ul li
{
    width: 140px;
    border-radius: 4px;
}

.nav ul li.o ul li
{
    width: 240px;
    border-radius: 4px;
}

.nav ul li ul li a
{
    padding: 3px 1px;
    font-size: 22px;
    transform: translateY(-2.5rem);
    animation: slideInDown .35s forwards;
    font-family: 'Hwyl fawr Hello';
    border-radius: 16px;
}

.nav ul li ul li a.r
{
    color: #E85648;
}

.nav ul li ul li a.b
{
    color: #52adbb
}

.nav ul li ul li a.g
{
    color: #3dc097;
}

.nav ul li ul li a.o
{
    color: #EB7E35;
}


.nav ul li ul li a.r:hover
{
    /*background: #020202;*/
    background: #E85648;
    /*color: rgb(201, 201, 201);*/
    color: rgb(0, 0, 0);
}

.nav ul li ul li a.b:hover
{
    background: #52adbb;
    color: rgb(0, 0, 0);
}

.nav ul li ul li a.g:hover
{
    background: #3dc097;
    color: rgb(0, 0, 0);
}

.nav ul li ul li a.o:hover
{
    background: #EB7E35;
    color: rgb(0, 0, 0);
}

@keyframes slideIn
{
    from
    {

    }to
    {
        transform: translateX(0);
    }
}

@keyframes slideOut
{
    0% { transform: translateX(0%); }
    100% { transform: translateX(-20%); }
}

@keyframes slideInDown
{
    from
    {
    }
    to
    {
        transform: translateY(0);
    }
}

@keyframes bounce
{
    from
    {

    }
    to
    {
        transform: translateY(0);
    }
}


}